<?xml version='1.0'?>

<robot name="robot_model" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <link name='base_link'>
  </link>
  <link name='camera_link'>
  </link>

  <joint type="fixed" name="kinect_joint">
    <origin xyz="0.25 0 0.02" rpy="0 0 0"/>
    <child link="camera_link"/>
    <parent link="base_link"/>
    <axis xyz="0 1 0" rpy="0 0 0"/>
  </joint>

</robot>
